#main_logo{
    max-height: 1.5rem;
}
body{
    background: url("../img/8TzHYjGhzOwunsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.card_promo{
    overflow: hidden;
    max-height: 20rem;
    width: 20rem;
    position: relative;
    text-align: center;
}
.card_promo div{
    position: absolute;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}
.card_promo img{
    max-height: 13rem;
}
.card_promo p{
    font-family: 'Ubuntu', sans-serif;
    text-shadow: #FC0 1px 0 10px;
    border-radius: 50% 20% / 90% 40%;
    margin: 0;
    padding: 0.5rem;
    font-size: 1.3rem;
    background-color: rgba(73, 73, 68, 0.753);
    color: rgb(255, 255, 255);
}
.card_last_article{
    text-align: left !important;
    width: 18rem;
}
.card_last_article img{
    max-height: 13rem;
    
}
.card_last_article h5{
    font-family: 'Ubuntu', sans-serif;
}
.articleId .img_container{
    max-height: 30rem;
    max-width: 30rem;
}
.prix{
    margin-bottom: 0;
}